.section {
  /* display: flex; */
  align-items: center;
  width: 100%;
}

.champagne {
  background-color: #FFE9CE;
}


.sectionSvg {
  height: 500px;
  width: 500px;
}

@media screen and (max-width: 996px) {
  .sectionSvg {
    height: 400px;
    width: 400px;
  }
}

.rowReverse {
  flex-direction: row-reverse;
}